<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta name ="viewport" content ="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public//css/init.css">
    <link rel="stylesheet" href="../assets/css/public.css">
    <link rel="stylesheet" href="../public/css/wjsfont.css">
    <link rel="stylesheet" href="../assets/css/categoty.css">
    <script src="../public/js/template-web.js"></script>
    <script src="../public/js/JQuery.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    
    
</head>
<body>
    <nav class="navbar navbar-default default">
       <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div>
                <h1><a href="#"><img src="../public/image/logo.png" alt="" id="logo"></a></h1>
            </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-center">
                {{each category v i}}
                <li><a href="http://localhost/category/{{v._id}}"><img src="../public/image/ico{{i+1}}.png" alt="">{{v.title}}</a></li> 
                {{/each}}
                <span></span>
              </ul> 
              <div class="users hidden-sm">
                <div class="userinfo">
                  <div class="loginsign">
                    <span><a href="http://localhost/web/login">登录</a></span>
                    <span><a href="http://localhost/web/sign">注册</a></span>
                  </div>
                </div>
                <div>
                    <a href="#" class="userbtn" >
                        投稿
                    </a>
                </div>
              </div>
            </div>
          </div>
       </div>
    </nav>
    <nav class="navbar navbar-default navdisplay">
      <div class="container">
       <div class="container-fluid">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <div>
               <h1><a href="#"><img src="../public/image/logo.png" alt="" id="logo"></a></h1>
           </div>
           </div>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav navbar-center">
               {{each category v i}}
               <li><a href="http://localhost/category/{{v._id}}"><img src="../public/image/ico{{i+1}}.png" alt="">{{v.title}}</a></li> 
               {{/each}}
               <span></span>
             </ul> 
             <div class="users hidden-sm">
               <div class="userinfo">
                
               </div>
               <div>
                   <a href="#" class="userbtn" >
                       投稿
                   </a>
               </div>
             </div>
           </div>
         </div>
      </div>
   </nav>
    <div class="container-fuils">
        <div class="container">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 hidden-content">
              {{if categorytitle}}
              <h4 class="title">{{categorytitle[0].title}}</h4>
              {{else}}
              <h4 class="title">搜索结果</h4>
              {{/if}}
              <ul class="content-detail">
                {{each data v i}}
                <li>
                  <div><a href="http://localhost/detail/{{v.id}}" target="_blank"><img src="{{v.img}}" class="detailimg" alt=""></a></div>
                  <div>
                    <div class="detail-title"><a href="http://localhost/detail/{{v.id}}" target="_blank">{{v.name}}</a></div>
                    <p>{{v.cont}}</p>
                    <div>
                      <span>
                        <!-- <a href="#"><img src="http://xinxiuz.com/wp-content/uploads/member/avatars/238a0b923820dcc5.1583691830.jpg" class="userimg" alt=""><i>新秀</i></a> -->
                        <em>{{v.date}}</em>
                      </span>
                      <span></span>
                    </div>
                  </div>
                </li>
               {{/each}}
              </ul>
              <nav aria-label="Page navigation" class="navigation">
                <div style="display: none;" class="hiddenDiv"></div>
                <ul class="pagination">
                



                </ul>
              </nav>
            </div>
            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs form--label">
                <form class="formdata" method="GET" action="/seek">
                    <input type="text" name="seek"  placeholder="输入关键词搜索.." class="ipt" autocomplete='off'>
                    <input type="submit" class="sub icon-search"value="">
                </form>
                <div class="seekresult" style="display:none">
                    <ul>
                      
                    </ul>
                    <div class="derection"></div>
                </div>
                <div class="recomment">
                    <h4><span></span>近期文章</h4>
                    <ul>
                      {{each rightarticle v i}}
                        <li><a href="http://localhost/detail/{{v.id}}" target="_blank">{{v.name}}</a></li>
                      {{/each}}
                    </ul>
                </div>
                <div class="recomment">
                    <h4><span></span>最新评论</h4>
                    <ul>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                    </ul>
                </div>
             
            </div>
        </div>
    </div>   
    
</body>
<!-- 模糊搜索 -->
<script type="text/template" id="norTemplate">
   <% for(let i = 0; i < res.length;i++){ %>
      <li><a href="http://localhost/detail/<%=res[i].id%>" target="_blank"><%=res[i].name%></a></li>
   <% } %>
 </script>
 <!-- 分页数据 -->
 <script type="text/template" id="categorypage">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <% for(let i = 0; i < arr.length; i++){ %>
      <li><a href="?page=<%=arr[i]%>"><%=arr[i]%></a></li>
    <%}%>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
</script>
<!-- 用户头像姓名 -->
<script type="text/template" id="userinfo">
      <a href="http://localhost/usermsg/<%=data[0].id%>" class="usersId ">
        <img src="<%=data[0].img%>" alt="">
        <span><%=data[0].username%></span>
        <em class="icon-user"></em>
      </a>
</script>
 <script src="../assets/js/public.js"></script>
</html>