<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta name ="viewport" content ="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public//css/init.css">
    <link rel="stylesheet" href="../assets/css/public.css">
    <link rel="stylesheet" href="../public/css/wjsfont.css">
    <link rel="stylesheet" href="../assets/css/detail.css">
    <script src="../public/js/JQuery.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../assets/js/public.js"></script>
    <script src="../assets/js/detail.js"></script>
</head>
<body>
    <nav class="navbar navbar-default default">
       <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div>
                <h1><a href="#"><img src="../public/image/logo.png" alt="" id="logo"></a></h1>
            </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-center">
                {{each category v i}}
                <li><a href="http://localhost/category/{{v._id}}"><img src="../public/image/ico{{i+1}}.png" alt="">{{v.title}}</a></li> 
                {{/each}}
                <span></span>
              </ul> 
              <div class="users hidden-sm">
                <div>
                    <a href="#" class="usersId ">
                        <img src="../public/image/ico1.png" alt="">
                        <span>10001</span>
                        <em class="icon-user"></em>
                    </a>
                </div>
                <div>
                    <a href="#" class="userbtn" >
                        投稿
                    </a>
                </div>
              </div>
            </div>
          </div>
       </div>
    </nav>
    <nav class="navbar navbar-default navdisplay">
      <div class="container">
       <div class="container-fluid">
           <!-- Brand and toggle get grouped for better mobile display -->
           <div class="navbar-header">
             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
             </button>
             <div>
               <h1><a href="#"><img src="../public/image/logo.png" alt="" id="logo"></a></h1>
           </div>
           </div>
           <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
             <ul class="nav navbar-nav navbar-center">
               {{each category v i}}
               <li><a href="http://localhost/category/{{v._id}}"><img src="../public/image/ico{{i+1}}.png" alt="">{{v.title}}</a></li> 
               {{/each}}
               <span></span>
             </ul> 
             <div class="users hidden-sm">
               <div>
                   <a href="#" class="usersId ">
                       <img src="../public/image/ico1.png" alt="">
                       <span>10001</span>
                       <em class="icon-user"></em>
                   </a>
               </div>
               <div>
                   <a href="#" class="userbtn" >
                       投稿
                   </a>
               </div>
             </div>
           </div>
         </div>
      </div>
   </nav>
    <div class="container-fuils">
        <div class="container">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 hidden-content">
                <div class="position">当前位置:<a href="http://localhost/">首页</a><span>/</span><a href="http://localhost/category/{{dataCategory[0]._id}}"></a>{{dataCategory[0].title}}</a></div>
                <div class="content">
                    <h3>{{data[0].name}}</h3>
                    <div class="date"><span><a href="#">新秀</a></span><span>{{data[0].date}}</span><span class="flcate">{{dataCategory[0].title}}</span></div>
                    <div>{{@data[0].content}}</div>
                    <div class="file-url">
                         <p class="file">相关文件下载地址</p>
                         <div class="download"><a href="{{data[0].url}}">立即下载</a></div>
                    </div>
                    <div class="direction">大家可以善用本站搜索功能搜索广告关键词，看看是否有更新，网站每天都有大量福利资源更新，大家可以点击“新秀网”进入网站首页浏览。</div>
                    <div class="star">
                        <div class="btn"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs form--label">
                <form class="formdata">
                    <input type="text"  placeholder="输入关键词搜索.." class="ipt" autocomplete='off'>
                    <input type="submit" class="sub icon-search"value="">
                </form>
                <div class="recomment">
                    <h4><span></span>近期文章</h4>
                    <ul>
                      {{each rightarticle v i}}
                        <li><a href="http://localhost/detail/{{v.id}}">{{v.name}}</a></li>
                      {{/each}}
                    </ul>
                </div>
                <div class="recomment">
                    <h4><span></span>最新评论</h4>
                    <ul>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                        <li><a href="#">唯美女生-冬日暖阳般的你唯美女生-冬日暖阳唯美女生-冬日暖阳般的你</a></li>
                    </ul>
                </div>
             
            </div>
        </div>
    </div>   
</body>
</html>