<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content ="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public//css/init.css">
    <link rel="stylesheet" href="../assets/css/public.css">
    <link rel="stylesheet" href="../public/css/wjsfont.css">
    <script src="../public/js/JQuery.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
       <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div>
                <h1><a href="#"><img src="../public/image/logo.png" alt="" id="logo"></a></h1>
            </div>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-center">
                <li><a href="#"><img src="../public/image/youxi.png" alt="">最新资源</a></li>
                <li><a href="#"><img src="../public/image/rj.png" alt="">软件宝库</a></li>
                <li><a href="#"><img src="../public/image/youxi.png" alt="">游戏宝库</a></li>
                <li><a href="#"><img src="../public/image/ziyuan.png" alt="">资源分享</a></li>
                <li><a href="#"><img src="../public/image/库房.png" alt="">破解软件</a></li>
                <li><a href="#"><img src="../public/image/news.png" alt="">新闻杂类</a></li>
              </ul> 
              <div class="users hidden-sm">
                <div>
                    <a href="#" class="usersId ">
                        <img src="../public/image/库房.png" alt="">
                        <span>10001</span>
                        <em class="icon-user"></em>
                    </a>
                </div>
                <div>
                    <a href="#" class="userbtn" >
                        投稿
                    </a>
                </div>
              </div>
            </div>
          </div>
       </div>
      </nav>
    <!-- <div class="headers">
        <div class="container">
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <h1><a href="#"><img src="../public/image/logo.png" alt="" id="logo"></a></h1>
            </div>
            <div class="col-lg-8 col-md-7 hidden-sm hidden-xs">
                <ul>
                    <li><a href="#"><img src="../public/image/youxi.png" alt="">最新资源</a></li>
                    <li><a href="#"><img src="../public/image/rj.png" alt="">软件宝库</a></li>
                    <li><a href="#"><img src="../public/image/youxi.png" alt="">游戏宝库</a></li>
                    <li><a href="#"><img src="../public/image/ziyuan.png" alt="">资源分享</a></li>
                    <li><a href="#"><img src="../public/image/库房.png" alt="">破解软件</a></li>
                    <li><a href="#"><img src="../public/image/news.png" alt="">新闻杂类</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 users">
                <div>
                    <a href="#" class="usersId">
                        <img src="../public/image/库房.png" alt="">
                        <span>10001</span>
                        <em class="icon-user"></em>
                    </a>
                </div>
                <div>
                    <a href="#" class="userbtn" >
                        投稿
                    </a>
                </div>
            </div>
        </div>
    </div> -->
   <!--  <div class="container-fuils">
        <div class="container">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                嘿嘿
            </div>
            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs">
                喜喜
            </div>
        </div>
    </div> -->
</body>
</html>