<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta name ="viewport" content ="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public//css/init.css">
    <link rel="stylesheet" href="../assets/css/public.css">
    <link rel="stylesheet" href="../public/css/wjsfont.css">
    <link rel="stylesheet" href="../assets/css/login.css">
    <script src="../public/js/JQuery.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../assets/js/login.js"></script>
    
    
</head>
<body>
    <nav class="navbar navbar-default default">
       <div class="container">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div>
                <h1><a href="#"><img src="../public/image/logo.png" alt="" id="logo"></a></h1>
            </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-center">
                {{each category v i}}
                <li><a href="http://localhost/category/{{v._id}}"><img src="../public/image/ico{{i+1}}.png" alt="">{{v.title}}</a></li> 
                {{/each}}
                <span></span>
              </ul> 
              <div class="users hidden-sm">
                <div>
                    <a href="#" class="usersId ">
                        <img src="../public/image/ico1.png" alt="">
                        <span>10001</span>
                        <em class="icon-user"></em>
                    </a>
                </div>
                <div>
                    <a href="#" class="userbtn" >
                        投稿
                    </a>
                </div>
              </div>
            </div>
          </div>
       </div>
    </nav>
    <div class="box">
        <div class="hint"></div>
        <div class="logintitle">
          <span>登录</span>
          <span><em>还没有账号?</em><a href="#">立即注册</a></span>
        </div>
        <form method="POST" action="/userlogin">
          <div class="zh"><img src="../public/image/user.svg" alt=""><input type="text" name="username" class="username" placeholder="请输入用户名/电子邮箱" autocomplete="off"></div>
          <div><img src="../public/image/user.svg" alt=""><input type="password" name="password" class="password" placeholder="请输入登录密码"></div>
          <input type="submit" value="登录" class="ipt">
        </form>
        <div class="wj"><a href="#">忘记密码</a></div>
    </div>
    
</body>
<script>
</script>

</html>