.navbar-default {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
body {
  background-image: url('../../public/image/login.png');
  background-position: center  center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  padding: 50px;
  height: 350px;
  width: 420px;
  background-color: #f9f8f7;
  margin: 130px auto;
  position: relative;
}
.box .hint {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #fcf8e3;
  width: 100%;
  text-align: center;
  line-height: 30px;
  display: none;
  font-size: 13px;
  color: #666;
}
.box .logintitle {
  margin-bottom: 30px;
  display: flex;
}
.box .logintitle span {
  flex: 1;
}
.box .logintitle span:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
}
.box .logintitle span:nth-child(2) {
  display: flex;
}
.box .logintitle span:nth-child(2) em {
  line-height: 26px;
  color: #666;
}
.box .logintitle span:nth-child(2) a {
  line-height: 26px;
  color: #3ca5f6;
}
.box form div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box form div .zh {
  margin: 30px 0;
}
.box form div input {
  padding: 15px 30px 10px 35px;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
}
.box form div img {
  position: absolute;
  width: 28px;
  height: 18px;
  left: 0;
}
.box form .ipt {
  height: 40px;
  width: 100%;
  background-color: #3ca5f6;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: white;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  margin-top: 30px;
}
.box .wj {
  padding: 20px 0;
  width: 100%;
}
.box .wj a {
  text-align: center;
  color: #3ca5f6;
}
